albert/snippets/
albert/albert.db
albert.conf
/argocd/
/k9s/
atlascli/
Android Open Source Project/
Atom/
Atom-Shell/
/Code - Insiders/.org.chromium.Chromium.*
/Code - Insiders/Backups/
/Code - Insiders/Cache/
/Code - Insiders/CachedConfigurations/
/Code - Insiders/CachedData/
/Code - Insiders/CachedExtensionVSIXs/
/Code - Insiders/CachedProfilesData/
/Code - Insiders/Code Cache/
/Code - Insiders/code.lock
/Code - Insiders/Cookies
/Code - Insiders/Cookies-journal
/Code - Insiders/Crashpad/
/Code - Insiders/databases/
/Code - Insiders/DawnCache/
/Code - Insiders/Dictionaries/
/Code - Insiders/GPUCache/
/Code - Insiders/languagepacks.json
/Code - Insiders/Local Storage/
/Code - Insiders/logs/
/Code - Insiders/machineid
/Code - Insiders/Network Persistent State
/Code - Insiders/Service Worker/
/Code - Insiders/Session Storage/
/Code - Insiders/TransportSecurity
/Code - Insiders/Trust Tokens
/Code - Insiders/Trust Tokens-journal
/Code - Insiders/User/globalStorage/
/Code - Insiders/User/History/
/Code - Insiders/User/profiles/
/Code - Insiders/User/sync/
/Code - Insiders/User/workspaceStorage/
/Code - Insiders/WebStorage/
/Code - OSS/.org.chromium.Chromium.*
/Code - OSS/Backups/
/Code - OSS/Cache/
/Code - OSS/CachedData/
/Code - OSS/CachedExtensions/
/Code - OSS/CachedExtensionVSIXs/
/Code - OSS/CachedProfilesData/
/Code - OSS/Code Cache/
/Code - OSS/Cookies
/Code - OSS/Cookies-journal
/Code - OSS/Crash Reports/
/Code - OSS/Crashpad/
/Code - OSS/databases/
/Code - OSS/DawnCache/
/Code - OSS/Dictionaries/
/Code - OSS/exthost Crash Reports/
/Code - OSS/GPUCache/
/Code - OSS/IndexedDB/
/Code - OSS/languagepacks.json
/Code - OSS/Local Storage/
/Code - OSS/logs/
/Code - OSS/machineid
/Code - OSS/Network Persistent State
/Code - OSS/Preferences
/Code - OSS/QuotaManager
/Code - OSS/QuotaManager-journal
/Code - OSS/rapid_render.json
/Code - OSS/Service Worker/
/Code - OSS/Session Storage/
/Code - OSS/Session Storage/
/Code - OSS/storage.json
/Code - OSS/TransportSecurity
/Code - OSS/User/globalStorage
/Code - OSS/User/globalStorage/
/Code - OSS/User/History/
/Code - OSS/User/workspaceStorage/
/Code - OSS/WebStorage/
/code-oss-dev/
/Code/.org.chromium.Chromium.*
/Code/Backups/
/Code/Cache/
/Code/CachedConfigurations/
/Code/CachedData/
/Code/CachedExtensions/
/Code/CachedExtensionVSIXs/
/Code/CachedProfilesData/
/Code/Code Cache/
/Code/code.lock
/Code/Cookies
/Code/Cookies-journal
/Code/Crash Reports/
/Code/Crashpad/
/Code/databases/
/Code/DawnCache/
/Code/Dictionaries/
/Code/exthost Crash Reports/
/Code/fileWatcher/
/Code/GPUCache/
/Code/Local Storage/
/Code/logs/
/Code/machineid
/Code/Network Persistent State
/Code/Preferences
/Code/QuotaManager
/Code/QuotaManager-journal
/Code/rapid_render.json
/Code/Service Worker/
/Code/Session Storage/
/Code/shared_proto_db/
/Code/storage.json
/Code/TransportSecurity
/Code/Trust Tokens
/Code/Trust Tokens-journal
/Code/User/globalStorage
/Code/User/globalStorage/
/Code/User/History/
/Code/User/profiles/
/Code/User/sync/
/Code/User/workspaceStorage/
/Code/VideoDecodeStats/
/Code/watcherServiceParcelSharedProcess/
/Code/WebStorage/
Electron/
Epic/
Genymobile/
Google/AndroidStudio*/
GIMP/
Hyper/
MongoDB Compass/
albert/core.db
albert/last_used_version
albert/org.albert.extension.kvstore/
aws/
ayr/
bottom/
burp/
btop/
calibre/
cef_user_data/
chromium/
configstore/
cni/net.d/
dconf/
direnv/
discord/
discordcanary/
dlv/
DUI/
evolution/
environment.d/local.conf
balena-etcher/
filezilla/
fish/fishd.*
fish/fish_variables
fish/completions/fisher.fish
fish/conf.d/local.fish
flutter/
fontforge/
gcloud/
gconf/
geeqie/
git/config.local
git/gitk
google-chrome/
google-chrome-beta/
google-chrome-unstable/
gopass/
gpick/
gpicview/
gtk-2.0/
gtk-3.0/bookmarks
gnupg/
helm/
hotkeys/
httptoolkit/
htop/
ImageMagick/
inkdrop/
inkscape/
insomnia-app/
ksnip/
libfm/
libreoffice/
looking-glass/
massren/
mc/
menus/
mono.addins/
nautilus/
nemo/
netlify/
nextjs-nodejs/
nightmare/
obs-studio/
opera/
pavucontrol-qt/
pipewire-media-session/
pcmanfm/
pcmanfm-qt/
pulse/
pipewire/
ranger/
rds/
spotify/
Skype/
skypeforlinux/
Slack/
sqlitebrowser/
systemd/user/*.wants/
systemd/user/*.service
systemd/user/*.socket
sublime-text-3/
sublime-merge/
supertuxkart/
Thunar/
teamviewer10/
tint2/
transmission/
transmission-remote-gtk/
tox/
vifm/
vivaldi/
vlc/
unity3d/
xfce4/
Pinta/
QtProject/
VirtualBox/
WebTorrent/
yarn/
yay/
Zeal/
Insomnia/
composer/
capacitor/
neofetch/
redisdesktop/
wireshark/
chromium-flags.conf
emaildefaults
gh
gh-update
hub
pavucontrol.ini
user-dirs.dirs
user-dirs.locale
weston.ini
Trolltech.conf
QtProject.conf

# Hyprland ephemeral config
/hypr/conf.d/ephemeral/
