albert/org.albert.extension.snippets/snippets.db
albert/last_used_version
Atom/
Atom-Shell/
Code/Backups/
Code/Code Cache/
Code/Cache/
Code/CachedExtensions/
Code/CachedExtensionVSIXs/
Code/CachedData/
Code/Cookies
Code/Cookies-journal
Code/Crash Reports/
Code/exthost Crash Reports/
Code/GPUCache/
Code/User/globalStorage/
Code/User/workspaceStorage/
Code/User/globalStorage
Code/User/sync/
Code/Local Storage/
Code/Network Persistent State
Code/logs/
Code/Preferences
Code/rapid_render.json
Code/Session Storage/
Code/storage.json
Code/TransportSecurity
Code/machineid
Code - OSS/Backups/
Code - OSS/Cache/
Code - OSS/Code Cache/
Code - OSS/Cookies
Code - OSS/Cookies-journal
Code - OSS/CachedData/
Code - OSS/CachedExtensions/
Code - OSS/CachedExtensionVSIXs/
Code - OSS/Crash Reports/
Code - OSS/exthost Crash Reports/
Code - OSS/Dictionaries/
Code - OSS/GPUCache/
Code - OSS/Local Storage/
Code - OSS/Session Storage/
Code - OSS/User/globalStorage/
Code - OSS/User/workspaceStorage/
Code - OSS/User/globalStorage
Code - OSS/logs/
Code - OSS/languagepacks.json
Code - OSS/Network Persistent State
Code - OSS/Preferences
Code - OSS/rapid_render.json
Code - OSS/Session Storage/
Code - OSS/storage.json
Code - OSS/TransportSecurity
Code - OSS/machineid
Code - OSS/.org.chromium.Chromium.*
code-oss-dev/
Electron/
Epic/
Google/AndroidStudio*/
GIMP/
Hyper/
albert/core.db
albert/last_used_version
albert/org.albert.extension.kvstore/
aws/
ayr/
bottom/
burp/
calibre/
cef_user_data/
chromium/
configstore/
dconf/
direnv/
discord/
discordcanary/
dlv/
DUI/
evolution/
balena-etcher-electron/
filezilla/
fish/fishd.*
fish/fish_variables
fish/completions/fisher.fish
fish/conf.d/local.fish
fontforge/
gcloud/
gconf/
geeqie/
git/config.local
google-chrome-beta/
google-chrome-unstable/
gopass/
gpick/
gpicview/
gtk-2.0/
gtk-3.0/bookmarks
gnupg/
helm/
hotkeys/
htop/
ImageMagick/
inkscape/
libfm/
libreoffice/
massren/
mc/
menus/
mono.addins/
nemo/
nightmare/
opera/
pavucontrol-qt/
pipewire-media-session/
pcmanfm/
pcmanfm-qt/
pulse/
ranger/
rds/
spotify/
Skype/
skypeforlinux/
Slack/
sqlitebrowser/
systemd/user/*.wants/
systemd/user/*.service
systemd/user/*.socket
sublime-text-3/
supertuxkart/
sway/local.config
Thunar/
teamviewer10/
tint2/
transmission/
transmission-remote-gtk/
tox/
vifm/
vivaldi/
vlc/
unity3d/
xfce4/
Pinta/
QtProject/
VirtualBox/
WebTorrent/
yarn/
yay/
Zeal/
Insomnia/
composer/
redisdesktop/
wireshark/
emaildefaults
gh
gh-update
hub
pavucontrol.ini
user-dirs.dirs
user-dirs.locale
weston.ini
Trolltech.conf
QtProject.conf
