Atom/
Atom-Shell/
aws/
ayr/
burp/
calibre/
chromium/
configstore/
dconf/
direnv/
filezilla/
fish/
gcloud/
gconf/
geeqie/
gpick/
gpicview/
gtk-2.0/
gtk-3.0/bookmarks
hotkeys/
htop/
ImageMagick/
inkscape/
libfm/
libreoffice/
massren/
mc/
menus/
opera/
pcmanfm/
pulse/
ranger/
rds/
Skype/
systemd/user/*.wants/
systemd/user/*.service
systemd/user/*.socket
sublime-text-3/
teamviewer10/
transmission/
tox/
vlc/
unity3d/
Pinta/
Zeal/
gh
gh-update
hub
pavucontrol.ini
Trolltech.conf
user-dirs.dirs
user-dirs.locale
weston.ini
