add_newline = false

[directory]
disabled = false

[docker_context]
disabled = true

[line_break]
disabled = true

[gcloud]
disabled = true

[golang]
disabled = true

[openstack]
disabled = true

[kubernetes]
disabled = true

[[kubernetes.contexts]]
# "bold red" style + default symbol when Kubernetes current context name equals "production" *and* the current user
# equals "admin_user"
context_pattern = "kind-kubevirt"
context_alias = "kubevirt"
