#
# Various floating windows
#

# Hearthstone
for_window [class="hearthstone.exe"] floating enable
# Dota
for_window [class="dota2"] floating enable
for_window [app_id="dota2"] floating enable
# Pinentry
for_window [app_id="pinentry-qt"] floating enable
# Chromium/Electron
for_window [app_id="chromium" title="Open File"] floating enable
for_window [app_id="chromium" title="Save File"] floating enable
for_window [app_id="electron" title="Open File"] floating enable
for_window [app_id="electron" title="Open Folder"] floating enable
for_window [app_id="electron" title="Open Workspace"] floating enable
for_window [app_id="electron" title="Save Workspace"] floating enable
# IntelliJ
for_window [class="sun-awt-X11-XWindowPeer"] floating enable
# Android Emulator
for_window [title="^Emulator$"] floating enable
for_window [title="^Android Emulator - .*"] floating enable

#
# Assign apps to workspaces
#

# Editors
assign [app_id="code-oss-dev"] → 3
assign [app_id="code-oss"] → 3
assign [app_id="code-url-handler"] → 3
assign [app_id="Code"] → 3
assign [class="Code"] → 3
# Steam and games
assign [class="Steam"] → 3
assign [class="dota2"] → 3
assign [app_id="dota2"] → 3
# Messaging
assign [app_id="Slack"] → 10
assign [class="TelegramDesktop"] → 10
# Android Emulator
assign [title="^Emulator$"] → 2
assign [title="^Android Emulator - .*"] → 2

# Custom apps in-development
assign [app_id="Electron"] → 2
assign [app_id="flutter-rust-desktop"] → 2
assign [app_id="electron-quick-start"] → 2
assign [app_id="playground"] → 2
assign [app_id="flemu"] → 2
assign [app_id="io.flutter.flutter.app"] → 2
assign [app_id="dev.flutter.elinux"] → 2
