# move applications to specific workspaces
for_window [class="Code"] move --no-auto-back-and-forth container to workspace 3
for_window [app_id="Slack"] move --no-auto-back-and-forth container to workspace 10
for_window [app_id="playground"] move --no-auto-back-and-forth container to workspace 2
for_window [class="TelegramDesktop"] move --no-auto-back-and-forth container to workspace 10
for_window [class="Flutter Desktop Example"] floating enable
for_window [class="hearthstone.exe"] floating enable
for_window [class="dota2"] floating enable
for_window [class="dota2"] move --no-auto-back-and-forth container to workspace 3
for_window [class="Steam"] move --no-auto-back-and-forth container to workspace 3
for_window [app_id="dota2"] floating enable
for_window [app_id="dota2"] move --no-auto-back-and-forth container to workspace 3
for_window [app_id="flutter_wayland_embedder"] floating enable
for_window [app_id="flutter-rust-desktop"] move --no-auto-back-and-forth container to workspace 2
for_window [app_id="code-oss-dev"] move --no-auto-back-and-forth container to workspace 2
for_window [app_id="code-oss"] move --no-auto-back-and-forth container to workspace 3
for_window [app_id="Code"] move --no-auto-back-and-forth container to workspace 3
for_window [app_id="electron-quick-start"] move --no-auto-back-and-forth container to workspace 2
for_window [app_id="Electron"] move --no-auto-back-and-forth container to workspace 2
for_window [app_id="pinentry-qt"] floating enable
for_window [app_id="chromium" title="Open File"] floating enable
for_window [app_id="chromium" title="Save File"] floating enable
for_window [app_id="electron" title="Open File"] floating enable
for_window [app_id="electron" title="Open Folder"] floating enable
for_window [app_id="electron" title="Open Workspace"] floating enable
for_window [app_id="electron" title="Save Workspace"] floating enable

# IntelliJ
for_window [class="sun-awt-X11-XWindowPeer"] floating enable

# Android Emulator
for_window [title="^Emulator$"] floating enable
for_window [title="^Emulator$"] move --no-auto-back-and-forth container to workspace 2
for_window [title="^Android Emulator - .*"] floating enable
for_window [title="^Android Emulator - .*"] move --no-auto-back-and-forth container to workspace 2
