[Unit]
Description=A fast and flexible keyboard launcher
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/albert

[Install]
WantedBy=sway-session.target
