# Source: https://wiki.hypr.land/Useful-Utilities/Systemd-start/#hyprland-sessiontarget
#
# `graphical-session.target` is required by `xdg-desktop-portal.service`
[Unit]
Description=Hyprland session
BindsTo=graphical-session.target
Wants=graphical-session-pre.target
After=graphical-session-pre.target
PropagatesStopTo=graphical-session.target
